.storybook-card{
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border-radius:.5rem;

}

.storybook-card--default{
    background:#f2f2f2;
    color:#222;
    border:1px solid #222;
}

.storybook-card--dark{
    background:#222;
    color:#f2f2f2;
    border:1px solid #f2f2f2;
}