.storybook-skeleton {
    background: red;
    margin-top: 3px;
    position: relative;
    background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
    overflow: hidden;
}

.storybook-skeleton--card {
    width:100%;
    max-width:200px;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border-radius:.5rem;
}

.storybook-skeleton--avatar {
    width:100%;
    max-width:100px;
    height:100px;
    border-radius:50%;
}
.storybook-skeleton--text {
    width:100%;
    max-width:500px;
    height:15px;
    border-radius:1rem;
}
.storybook-loader{
    background: linear-gradient(	  
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 80%
  ),
  #ddd;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;	
}
.storybook-loader:empty {      

    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 80%
      ),
      lightgray;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
  }
@keyframes shine {	
    to {
      background-position: 100% 0, /* move highlight to right */ 0 0;
    }
  }